<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.robot.mapper.RbLifecirclePushConfigDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  rb_lifecircle_push_config_detail 
		WHERE
			 lc_config_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.robot.entity.RbLifecirclePushConfigDetail">
		SELECT * 
		FROM  rb_lifecircle_push_config_detail
		WHERE
			 lc_config_id = #{mainId} 	</select>
</mapper>
